<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>669315820661-qh8rtqvgenoargd59d7b8vga4h6ub8h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669315820661-qh8rtqvgenoargd59d7b8vga4h6ub8h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBcrgfQ7ysuHgxPnwxdP4I-Y3YYHLmgiSE</string>
	<key>GCM_SENDER_ID</key>
	<string>669315820661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AppWorksSchool.TaiwanRockClimbing</string>
	<key>PROJECT_ID</key>
	<string>taiwanrockclimbing-174705</string>
	<key>STORAGE_BUCKET</key>
	<string>taiwanrockclimbing-174705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:669315820661:ios:078c56d3e9c394fc</string>
	<key>DATABASE_URL</key>
	<string>https://taiwanrockclimbing-174705.firebaseio.com</string>
</dict>
</plist>